.container{
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
}
.how{
    width: 122px;
    height: 95px;
}
header{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav{
    display: flex;
    width: 40%;
    
}
.slaid{
    max-width: 1640px;
        width: 100%;
        margin: 0 auto;
}
section{
    max-width: 1640px;
        width: 100%;
        margin: 0 auto;
}
.popular{
    width: 100%;
}
.popular div{
    max-width: 400px;
    width: 100%;
}